@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100&family=Jost:wght@200&family=Montserrat:wght@300;400&family=Nokora:wght@100&family=Nova+Square&display=swap');

/* font-family: 'Gayathri', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nokora', sans-serif;
font-family: 'Nova Square', cursive; */




 /* inicia barra de navegación  */
.navbar {
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    height: 10rem;
}

.navbar:hover {
    height:15rem;
}

.logo-navbar {
    width:10rem;
}

.logo-navbar:hover {
    width: 15rem;
}

.navbar-collapse {
    align-items: center;
    justify-content:space-between;
}

.nav-pills-1 {
    font-family: 'Nova Square', cursive;
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    margin:1rem;
    padding:1rem;
    border:0px;
}

.nav-pills-1:hover {
    font-family: 'Nova Square', cursive;
    background-color: rgb(165, 165, 165);
    box-shadow: 0 0px 20px 0 rgb(114, 102, 104), 0 0px 50px 0 rgb(58, 57, 57);
    border-radius: 10%;
    margin:1rem;
    padding:1rem;
    border:0px;
}

.nav-pills-2 {
    font-family: 'Nova Square', cursive;
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    margin:1rem;
    padding:1rem;
    border:0px;
}

.nav-pills-2:hover {
    font-family: 'Nova Square', cursive;
    background-color: rgb(194, 11, 11);
    box-shadow: 0 0px 20px 0 rgb(247, 74, 103), 0 0px 50px 0 rgb(207, 60, 60);
    border-radius: 10%;
    margin:1rem;
    padding:1rem;
    border:0px;
}

.nav-pills-3 {
    font-family: 'Nova Square', cursive;
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    margin:1rem;
    padding:1rem;
    border:0px;
}

.nav-pills-3:hover {
    font-family: 'Nova Square', cursive;
    background-color: rgb(235, 162, 4);
    box-shadow: 0 0px 20px 0 rgb(255, 241, 44), 0 0px 50px 0 rgb(255, 222, 36);
    border-radius: 10%;
    margin:1rem;
    padding:1rem;
    border:0px;
}

.nav-pills-4 {
    font-family: 'Nova Square', cursive;
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    margin:1rem;
    padding:1rem;
    border:0px;
}

.nav-pills-4:hover {
    font-family: 'Nova Square', cursive;
    background-color: rgb(32, 5, 150);
    box-shadow: 0 0px 20px 0 rgb(83, 44, 255), 0 0px 50px 0 rgb(36, 58, 255);
    border-radius: 10%;
    margin:1rem;
    padding:1rem;
    border:0px;
}




 /* termina barra de navegacion */

 /* inicia hero */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero {
    background-color:rgb(255, 255, 255);
    min-height: 450px;
    text-align: center;
 }

.hero-principal {
    padding:3rem;
}

.foto {
    width: 400px;
    height:400px;
    border-radius: 30%;
    margin: 4rem;
    box-shadow: 0 0px 50px 0 rgb(114, 102, 104), 0 0px 50px 0 rgb(58, 57, 57);

}

.main-text {
    margin:1rem;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(253, 251, 251), 0 0 25px rgb(119, 0, 202), 0 0 5px rgb(201, 150, 255);
    font-family: 'Gayathri', sans-serif ;
    font-size:2.5rem;
}

.main-text-h2 {
    margin:1rem;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(253, 251, 251), 0 0 25px rgb(119, 0, 202), 0 0 5px rgb(201, 150, 255);
    font-family: 'Gayathri', sans-serif ;
    font-size:2rem;
}
 /* termina hero */


 /* adaptable responsivo */

 @media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;    
    }
}

 /* adaptable responsivo */